<html>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/graphdracula/1.2.1/dracula.min.js"></script>
    <div id="canvas" style="overflow: hidden; background-color: black"></div>
    <script>
        var g = new Dracula.Graph();

  /* g.addEdge("strawberry", "cherry"); */
  /* g.addEdge("strawberry", "apple"); */
  /* g.addEdge("strawberry", "tomato"); */
  /*  */
  /* g.addEdge("tomato", "apple"); */
  /* g.addEdge("tomato", "kiwi"); */
  /*  */
  /* g.addEdge("cherry", "apple"); */
  /* g.addEdge("cherry", "kiwi"); */
        xxx

        var layouter = new Dracula.Layout.Spring(g);
        layouter.layout();

        var w = window.innerWidth;
        var h = window.innerHeight;
        var renderer = new Dracula.Renderer.Raphael(
            document.getElementById('canvas'), 
            g, w, h);
        renderer.draw();
    </script>
</html>
